.root_box {
  margin: 3px;
}

window {
  border-style: solid;
  border-width: 2px;
}

.filter_entry {
  border-style: solid;
  border-width: 2px;
  background: none;
  min-height: 36px;
  min-width: 320px;
}

.notebook {
  border: none;
}

.keybindings {
  font-family: Hack Nerd Font;
}
