Source: regolith-look-extra
Section: x11
Priority: optional
Maintainer: Regolith Linux <regolith.linux@gmail.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2
Homepage: https://github.com/regolith-linux/regolith-desktop
Vcs-Git: https://github.com/regolith-linux/regolith-desktop.git

Package: regolith-look-nord
Architecture: any
Depends: ${misc:Depends},
  arc-icon-theme,
  nordic,
  fonts-nerd-font-sourcecodepro
Provides: regolith-look-2
Description: Nord look for Regolith
 Nord Look with sourcecode pro

Package: regolith-look-blackhole
Architecture: any
Depends: ${misc:Depends},
  arc-icon-theme,
  ayu-theme,
  fonts-nerd-font-sourcecodepro
Provides: regolith-look-2
Description: Blackhole look for Regolith
 A very dark and minimalist theme for Regolith



# Package: regolith-look-gruvbox
# Architecture: any
# Depends: ${misc:Depends},
#   regolith-styles,
#   gruvbox-gtk,
#   moka-icon-theme,
#   fonts-materialdesignicons-webfont,
#   fonts-jetbrains-mono
# Provides: regolith-look-2
# Description: User contributed gruvbox theme
#  Colors based on https://github.com/morhetz/gruvbox
