Source: regolith-look-extra
Section: x11
Priority: optional
Maintainer: Regolith Linux <regolith.linux@gmail.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2
Homepage: https://github.com/regolith-linux/regolith-desktop
Vcs-Git: https://github.com/regolith-linux/regolith-desktop.git

Package: regolith-look-nord
Architecture: any
Depends: ${misc:Depends},
  arc-icon-theme,
  nordic,
  fonts-nerd-font-robotomono,
  regolith-look-default
Provides: regolith-look-2
Description: Nord look for Regolith
 Nord Look with sourcecode pro

Package: regolith-look-blackhole
Architecture: any
Depends: ${misc:Depends},
  arc-icon-theme,
  ayu-theme,
  fonts-nerd-font-sourcecodepro,
  regolith-look-default
Provides: regolith-look-2
Description: Blackhole look for Regolith
 A very dark and minimalist theme for Regolith

#Package: regolith-look-gruvbox
#Architecture: any
#Depends: ${misc:Depends},
#  gruvbox-gtk,
#  moka-icon-theme,
#  fonts-nerd-font-cousine
#Provides: regolith-look-2
#Description: Gruvbox look for Regolith
# Colors based on https://github.com/morhetz/gruvbox
